// General styles

body {
  margin: 0;
  padding: 0;
  font-family: $font !important;
  font-weight: 400;
}
p {
  font-family: $font !important;
}

// Product component styles
.product-name {
  margin-top: 10px !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #333333 !important;
}
.product-reference {
  margin-top: 10px !important;
  color: #828282 !important;
  line-height: 13px;
  font-size: 12px;
  font-weight: 400;
}
.product-image {
  border-radius: 50%;
  margin: 0 !important;
}
.product-container {
}
// .text-container {
//   flex-basis: fit-content;
// }
.product-supplier {
  margin-top: 10px !important;
  line-height: 13px;
  font-size: 14px;
  svg {
    margin-right: 5px;
    color: #db8704 !important;
  }
}
.product-price {
  margin-top: 10px !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #333333 !important;
}
.button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  background-color: #000000;

}
.product-quantity {
  flex: auto;
  display: inline-flex;
  align-self: center;
}
.quantity-border {
  background-color: #f2f2f2;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  text-align: center;
  font-weight: 500px;
  line-height: 24px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.quantity {
  color: #333333;
  padding: 0px 10px 0px 10px;
}
.details-container {
  flex-direction: column;
}

// Links styles

.link-container {
  color: $white !important;
  background: none;
  &:hover {
    background: none !important;
    text-decoration-color: $main !important;
    text-decoration-line: overline;
  }
}
.link-container-black {
  color: #000000 !important;
  svg {
    color: #000000 !important;
  }
}
.header-products {
  background: linear-gradient(
      0deg,
      rgba(50, 50, 50, 0.6),
      rgba(50, 50, 50, 0.6)
    ),
    url(https://s3-alpha-sig.figma.com/img/cd19/cc90/5acbc496b190e77e3b3af1e40d17cc43?Expires=1662336000&Signature=Gwi8I4B48ECc6q0JTUmd-inO~lROftEZ2~4PETDVFbAlWm~evmS91c2g6gnHfKjLs7ZuxtyxORVRuEG~pNykSY9R-xJ-5uKIKZqFrIxNgTwavSd09UIWHhDcCJmr5etLUPXhvzCC5HV6DMDWLuXqAZ~TvwYxp54vtxUUKlobdGFiRVJ-U1QRk51mgCqM9itLAUMElAZfRwCVaGjY3QRS4Bt8Sc16mBNsbkUJjV~PwOTj1WFL6f-vqIMw8mUGwLXmmUx6OkIgw1uYOwCQY-rrXhfD-w0oUG1NaXpslIFh~dNtSWnCVPkIKD4UVF9u7N6J0MEWxEvvFY33oUrvv4oTsw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size: cover;
  font-weight: 500;
  height: 25vh;
  font-size: 42px;
  line-height: 25vh;
  text-align: center;
  color: $white;
}
.infinite-scroll {
  overflow: hidden!important;
}