$fa-font-path: '/fonts';

// Core variables and mixins
@import 'variables';


// Styles
@import 'style';

@import './components/header.scss';

@import './screens/login.scss';

@import './components/categorySelector.scss';

@import './screens/products.scss';

@import './components/cartProduct';

@import './components/cartTotal'
