.total-cart {
  margin-top: 10px;
  height: auto;

  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px 11px;

  display: flex;
  flex-direction: column;

  .total-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .items-text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400 ;
      font-size: 16px;
      line-height: 180%;
      letter-spacing: 0.5px;
      color: #000000;
    }

    .total-text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 180%;
      text-align: right;
      letter-spacing: 0.5px;
      color: #000000;
    }
  }

  .divider {
    border: 1px solid #bdbdbd;
    margin-bottom: 12px;
    margin-top: 12px;
  }
}

.button-total {
  margin-top: 15px;
  background-color: $main !important;
  width: 100% !important;
  height: 45px !important;
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: #000000 !important;
  margin-bottom: 15px;
}
.button-continue {
    margin-top: 15px;
        border: solid 2px $main!important;
        background-color: white!important;
        width: 100% !important;
        height: 45px !important;
        border-radius: 8px;
    
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 110%;
        color: #000000 !important;
        margin-bottom: 15px;
}

.button-total-disabled {
  margin-top: 15px;
  background-color: grey !important;
  width: 100% !important;
  height: 45px !important;
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: #fff !important;
  opacity: 0.5;
  margin-bottom: 15px;
}

.button-cancel {
  margin-top: 15px;
  background-color: rgb(202, 24, 0) !important;
  width: 100% !important;
  height: 45px !important;
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: #fff !important;
  margin-bottom: 15px;
}

.button-cancel-disabled {
  display: none !important;
}
