.selector-container {
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    padding-bottom: 25px;
 
    .selector {
        background-color: #fff !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        color: #333333 !important;
        width: 100% !important;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.input-search {
    height: 60px!important;
    input {
        height: 60px;
    }
}