.header {
    height: 168px;
    background : linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/img/bgwave.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;

    .header-text {
        letter-spacing: 0px;
        color: #ffff;
        font-weight: 500!important;
        font-style: normal;
        font-family: 'Roboto';
        font-size: 20px;
        line-height: 100%;
        padding-right: 30%;
        margin-bottom: 20px;
    }

    .header-compra {
        letter-spacing: 0px;
        font-family: 'Roboto';
        text-align: center;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 42px !important;
        line-height: 48px;
        text-align: center;
        padding-right: 0% !important;
        margin-bottom: 50px !important;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
    }

    .sessions-buttons {
        display: flex;
        flex-direction: row;
        justify-content: end;
        
        .logout-button {
            background-color: transparent;
            color:white;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 110%;
            height: 31px;
            min-width: -webkit-fill-available;
        }
    }
    .logout-icon {
        margin-left: 10px!important;
    }
}

@media (min-width: 668px) and (max-width: 2200px) {
  
    .search-row {
        flex-wrap: nowrap;
    }

    .header{
        height: 300px !important;
        //bg-lg.jpeg
        background: url('/img/bgwave.jpg');
        background-position: 25% 20%;
        background-size: cover;
        justify-content:none;
    }
    .selector-container {
        top: 280px !important;
       
    }
    .header-text {
        letter-spacing: 0px;
        font-family: 'Roboto';
        text-align: center;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 42px !important;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        padding-right: 0% !important;
        margin-bottom: 50px !important;
    }
    
  }
  @media (max-width: 668px) {
   .search-row{
    flex-wrap: wrap !important;
    }
    .selector-container {
        width: 100% !important;
        padding: 0!important;
        margin-top: 10px;
    }
  }